<!DOCTYPE html>
<html>
    <head>
        <title>ATM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        <style>
             #textarea {
                 height:250px;
                 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                 font-size: 15px;
             }
             .keypad{
                 margin:8px;
             }
            
        </style>
    </head>
     
    <body>
         {{{body}}}
    </body>
</html>